In [82]:
import numpy as np
import pandas as pd

In [83]:
df = pd.read_csv('pizza.csv')
df.head()

   Promote  Sales
0       23    554
1       56   1339
2       34    815
3       25    609
4       67   1600

In [84]:
Promote_Sqr = (((df['Promote']*df['Sales']).sum()/df.shape[0]) - (df['Promote'].mean()*df['Sales'].mean())) / ((df['Promote']**2).mean() - (df['Promote'].mean()**2))
print(Promote_Sqr)

23.506403021550746

In [85]:
b0 = df['Sales'].mean() - (Promote_Sqr * df['Promote'].mean())
print(b0)

5.485865363253652

## Insure Auto

In [96]:
insure = pd.read_csv('Insure_auto.csv', index_col=0)
insure.head()

        Home  Automobile  Operating_Cost
Branch
B01      400        1200          124000
B02      350         360           71000
B03      600         800          136000
B04      800        1800          219000
B05      900        1600          230000

In [97]:

y = (insure['Operating_Cost']).reset_index()
X = insure[['Home','Automobile']].reset_index()
X = X.drop('Branch', axis=1)
y = y.drop('Branch', axis=1)
y

   Operating_Cost
0          124000
1           71000
2          136000
3          219000
4          230000
5           75000
6           56000
7          110000
8          120000
9          144000

In [98]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y)

In [99]:
x1 = np.array(X_train['Home'])
x2 = np.array(X_train['Automobile'])
y = np.array(y_train['Operating_Cost'])

arr = np.array([[x1.sum(), (x1**2).sum(), (x1*x2).sum()],
                [x2.sum(), (x1*x2).sum(), (x2**2).sum()],
                [1 , x1.mean(), x2.mean()]])


b =np.array([(x1*y).sum(),(x2*y).sum(),y.mean()])

print(np.linalg.solve(arr,b))

[-11796.50066767    163.85885724     57.84858247]

In [100]:
from sklearn.linear_model import LinearRegression


lg = LinearRegression()
lg.fit(X_train,y_train)

print(lg.coef_)
print(lg.intercept_)

[[163.85885724  57.84858247]]
[-11796.50066767]