In [4]:
from sklearn.compose import make_column_selector, make_column_transformer
from sklearn.discriminant_analysis import StandardScaler
from sklearn.preprocessing import OneHotEncoder
import pandas as pd
df =  pd.read_csv("Housing.csv")

ohc  = OneHotEncoder()
scalar  =  StandardScaler()
ct =  make_column_transformer((ohc,make_column_selector(dtype_include=object)),("passthrough",make_column_selector(dtype_include=['int64',"float64"])))
dum_np  = ct.fit_transform(df)

print(ct.get_feature_names_out())

['onehotencoder__driveway_no' 'onehotencoder__driveway_yes'
 'onehotencoder__recroom_no' 'onehotencoder__recroom_yes'
 'onehotencoder__fullbase_no' 'onehotencoder__fullbase_yes'
 'onehotencoder__gashw_no' 'onehotencoder__gashw_yes'
 'onehotencoder__airco_no' 'onehotencoder__airco_yes'
 'onehotencoder__prefarea_no' 'onehotencoder__prefarea_yes'
 'passthrough__price' 'passthrough__lotsize' 'passthrough__bedrooms'
 'passthrough__bathrms' 'passthrough__stories' 'passthrough__garagepl']

In [5]:
#after converting onehot encoding into dataFrame 
ohc  = OneHotEncoder(sparse_output= False)
ct =  make_column_transformer((ohc,make_column_selector(dtype_include=object)),
                              ("passthrough",make_column_selector(dtype_include=['int64',"float64"]))).set_output(transform="pandas")
dum_np  = ct.fit_transform(df)

In [6]:
dum_np

,onehotencoder__driveway_no,onehotencoder__driveway_yes,onehotencoder__recroom_no,onehotencoder__recroom_yes,onehotencoder__fullbase_no,onehotencoder__fullbase_yes,onehotencoder__gashw_no,onehotencoder__gashw_yes,onehotencoder__airco_no,onehotencoder__airco_yes,onehotencoder__prefarea_no,onehotencoder__prefarea_yes,passthrough__price,passthrough__lotsize,passthrough__bedrooms,passthrough__bathrms,passthrough__stories,passthrough__garagepl
0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,42000.0,5850,3,1,2,1
1,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,38500.0,4000,2,1,1,0
2,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,49500.0,3060,3,1,1,0
3,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,60500.0,6650,3,1,2,0
4,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,61000.0,6360,2,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
541,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,91500.0,4800,3,2,4,0
542,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,94000.0,6000,3,2,4,0
543,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,103000.0,6000,3,2,4,1
544,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,105000.0,6000,3,2,2,1
545,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,105000.0,6000,3,1,2,1

In [14]:
dum_np.columns

Index(['onehotencoder__driveway_no', 'onehotencoder__driveway_yes',
       'onehotencoder__recroom_no', 'onehotencoder__recroom_yes',
       'onehotencoder__fullbase_no', 'onehotencoder__fullbase_yes',
       'onehotencoder__gashw_no', 'onehotencoder__gashw_yes',
       'onehotencoder__airco_no', 'onehotencoder__airco_yes',
       'onehotencoder__prefarea_no', 'onehotencoder__prefarea_yes',
       'passthrough__price', 'passthrough__lotsize', 'passthrough__bedrooms',
       'passthrough__bathrms', 'passthrough__stories',
       'passthrough__garagepl'],
      dtype='object')

In [20]:
#after converting onehot encoding into dataFrame 
ohc  = OneHotEncoder(sparse_output= False,drop='first')
ct =  make_column_transformer((ohc,make_column_selector(dtype_include=object)),
                              ("passthrough",make_column_selector(dtype_include=['int64',"float64"])),verbose_feature_names_out= False).set_output(transform="pandas")
dum_np  = ct.fit_transform(df)

In [21]:
dum_np.columns

Index(['driveway_yes', 'recroom_yes', 'fullbase_yes', 'gashw_yes', 'airco_yes',
       'prefarea_yes', 'price', 'lotsize', 'bedrooms', 'bathrms', 'stories',
       'garagepl'],
      dtype='object')

In [23]:
dum_np.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 546 entries, 0 to 545
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   driveway_yes  546 non-null    float64
 1   recroom_yes   546 non-null    float64
 2   fullbase_yes  546 non-null    float64
 3   gashw_yes     546 non-null    float64
 4   airco_yes     546 non-null    float64
 5   prefarea_yes  546 non-null    float64
 6   price         546 non-null    float64
 7   lotsize       546 non-null    int64
 8   bedrooms      546 non-null    int64
 9   bathrms       546 non-null    int64
 10  stories       546 non-null    int64
 11  garagepl      546 non-null    int64
dtypes: float64(7), int64(5)
memory usage: 51.3 KB

In [24]:
#####HR_comma_sep 
hr_df =pd.read_csv('HR_comma_sep.csv')
hr_df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.10,0.77,6,247,4,0,1,0,sales,low
3,0.92,0.85,5,259,5,0,1,0,sales,low
4,0.89,1.00,5,224,5,0,1,0,sales,low

In [25]:
hr_df = pd.get_dummies(hr_df, drop_first=True)
hr_df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department_RandD,Department_accounting,Department_hr,Department_management,Department_marketing,Department_product_mng,Department_sales,Department_support,Department_technical,salary_low,salary_medium
0,0.38,0.53,2,157,3,0,1,0,False,False,False,False,False,False,True,False,False,True,False
1,0.80,0.86,5,262,6,0,1,0,False,False,False,False,False,False,True,False,False,False,True
2,0.10,0.77,6,247,4,0,1,0,False,False,False,False,False,False,True,False,False,True,False
3,0.92,0.85,5,259,5,0,1,0,False,False,False,False,False,False,True,False,False,True,False
4,0.89,1.00,5,224,5,0,1,0,False,False,False,False,False,False,True,False,False,True,False

In [26]:
y = hr_df['left']
X = hr_df.drop('left', axis=1)

In [27]:
#Using Grid Search
from sklearn.model_selection import cross_val_score,StratifiedKFold
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeClassifier

# Using Grid Searcg
kfold = StratifiedKFold(n_splits=5, shuffle=True, random_state=24)
dtc = DecisionTreeClassifier(random_state=24)
params ={'max_depth':[4,3,2, None], 'min_samples_split':[2,4,6,10,20], 'min_samples_leaf':[1,5,10,15]} 
gcv =  GridSearchCV(dtc,param_grid=params,cv =  kfold,scoring='neg_log_loss')
gcv.fit(X,y)
print(gcv.best_score_)
print(gcv.best_params_)

-0.12397661029683016
{'max_depth': 4, 'min_samples_leaf': 5, 'min_samples_split': 2}

In [28]:
# infeerencing 
tst_hr  = pd.read_csv("tst_hr.csv")
tst_hr = pd.get_dummies(tst_hr, drop_first=True)

In [29]:
tst_hr.head(5)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,Department_support,Department_technical,salary_low,salary_medium
0,0.11,0.88,7,272,4,0,0,False,False,False,True
1,0.72,0.87,5,223,5,0,0,False,False,True,False
2,0.37,0.52,2,159,3,0,0,False,False,True,False
3,0.41,0.50,2,153,3,0,0,False,False,True,False
4,0.67,0.61,3,202,2,0,0,False,True,False,True

In [31]:
tst_hr.columns

Index(['satisfaction_level', 'last_evaluation', 'number_project',
       'average_montly_hours', 'time_spend_company', 'Work_accident',
       'promotion_last_5years', 'Department_support', 'Department_technical',
       'salary_low', 'salary_medium'],
      dtype='object')

In [34]:
best_tree = gcv.best_estimator_
y_pred = best_tree.predict(tst_hr)

ValueError: The feature names should match those that were passed during fit.
Feature names seen at fit time, yet now missing:
- Department_RandD
- Department_accounting
- Department_hr
- Department_management
- Department_marketing
- ...

In [60]:
#after converting onehot encoding into dataFrame 
# With the 
hr_df =pd.read_csv('HR_comma_sep.csv')
ohc  = OneHotEncoder(sparse_output= False,drop='first')
ct =  make_column_transformer((ohc,make_column_selector(dtype_include=object)),
                              ("passthrough",make_column_selector(dtype_exclude=object)),verbose_feature_names_out= False).set_output(transform="pandas")
#dum_np  = ct.fit_transform(df)
X =  hr_df.drop('left',axis =1 )
X =  ct.fit_transform(X)
y = hr_df['left']

In [37]:
import numpy as np


params ={'max_depth':[4,3,2, None], 'min_samples_split':np.arange(2,35,5), 'min_samples_leaf':np.arange(1,35,5)}

In [38]:
# Using Grid Searcg
kfold = StratifiedKFold(n_splits=5, shuffle=True, random_state=24)
dtc = DecisionTreeClassifier(random_state=24)
# params ={'max_depth':[4,3,2, None], 'min_samples_split':[2,4,6,10,20], 'min_samples_leaf':[1,5,10,15]} 
gcv =  GridSearchCV(dtc,param_grid=params,cv =  kfold,scoring='neg_log_loss')
gcv.fit(X,y)
print(gcv.best_score_)
print(gcv.best_params_)

-0.12401360741773468
{'max_depth': 4, 'min_samples_leaf': 6, 'min_samples_split': 2}

In [61]:
# infeerencing 
tst_hr  = pd.read_csv("tst_hr.csv")
tst_hr = ct.transform(tst_hr)

In [62]:
tst_hr.shape

(15, 18)

In [63]:
tst_hr.columns

Index(['Department_RandD', 'Department_accounting', 'Department_hr',
       'Department_management', 'Department_marketing',
       'Department_product_mng', 'Department_sales', 'Department_support',
       'Department_technical', 'salary_low', 'salary_medium',
       'satisfaction_level', 'last_evaluation', 'number_project',
       'average_montly_hours', 'time_spend_company', 'Work_accident',
       'promotion_last_5years'],
      dtype='object')

In [67]:
best_tree = gcv.best_estimator_
best_tree.predict(tst_hr)

array([1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)